<server description="Sample Liberty server">

  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>jsonp-1.1</feature>
    <feature>cdi-2.0</feature>
    <feature>jpa-2.2</feature>
  </featureManager>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
    id="defaultHttpEndpoint" host="*" />

  <application location="commandServices.war" type="war" context-root="/">
  </application>

<!-- Declare the jar files for MySQL access through JDBC. -->
<library id="MySQLLib">
  <fileset dir="${shared.resource.dir}/mysql" includes="*.jar"/>
</library>


<!-- Declare the runtime database -->
  <dataSource id="musicjpadatasource"
              jndiName="jdbc/musicjpadatasource">
      <jdbcDriver libraryRef="MySQLLib" />
      <properties databaseName="MusicDB" 
            serverName="localhost" portNumber="3306" 
            user="root" password="example"/>
  </dataSource>

</server>
